* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.site-header .container{
    display: flex;
    justify-content: space-between;
}

.container{
    width: 1170px;
    margin: 0 auto;
}

.language-switcher{
    color: #ffffff;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
}

.fa-angle-down{
    font-size: 12px;
}

.right-header{
    display: flex;
    justify-content: space-between;
    width: 287px;
}

.contact-center{
    display: flex;
    color: #ffffff;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    width: 137px;
    justify-content: space-between;
}

.country-profile{
    color: #ffffff;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    width: 120px;
}

.site-header{
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #ba0000;
}

.menu .menu_items{
    height: 120px;
    background-color: #ffcc00;
}

.main_section {
    height: 800px;
    background: url(../img/main/main_bg.jpg) center center/cover no-repeat;
}