* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.site-header .container{
    display: flex;
    justify-content: space-between;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1170px;
    margin: 0 auto;
}

.language-switcher{
    color: #ffffff;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
}

.fa-angle-down{
    font-size: 12px;
}

.right-header{
    display: flex;
    justify-content: space-between;
    width: 287px;
}

.contact-center{
    display: flex;
    color: #ffffff;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    width: 137px;
    justify-content: space-between;
}

.country-profile{
    color: #ffffff;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    width: 120px;
}

.site-header{
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #ba0000;
}

.nav{
    display: flex;
    align-items: center;
    background-color: #ffcc00;
    height: 120px;
    
}

.nav-container{
    width: 1170px;
    margin: 0 auto;
}

.nav__row{
    display: flex;
    align-items: center;
}

.nav_logo{
    display: flex;
}

.nav__list{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 654px;
    margin-left: 6.46vw;

}

.nav__search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    width: 50px;
    height: 50px;
    box-shadow: 0 10px 18px rgba(186, 0, 0, 0.4);
    border-radius: 25px;
    background-color: #ba0000;
    
}

.nav__search .fa-search{
    color: #ffffff;
    font-size: 14px;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
}